-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: lavanderia_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `_prisma_migrations`
--

DROP TABLE IF EXISTS `_prisma_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `_prisma_migrations` (
  `id` varchar(36) NOT NULL,
  `checksum` varchar(64) NOT NULL,
  `finished_at` datetime(3) DEFAULT NULL,
  `migration_name` varchar(255) NOT NULL,
  `logs` text DEFAULT NULL,
  `rolled_back_at` datetime(3) DEFAULT NULL,
  `started_at` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `applied_steps_count` int(10) unsigned NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `_prisma_migrations`
--

LOCK TABLES `_prisma_migrations` WRITE;
/*!40000 ALTER TABLE `_prisma_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `_prisma_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cliente`
--

DROP TABLE IF EXISTS `cliente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cliente` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tipo` enum('NATURAL','EMPRESA') NOT NULL,
  `nombre` varchar(191) NOT NULL,
  `apellido` varchar(191) NOT NULL,
  `telefono` varchar(191) NOT NULL,
  `direccion` varchar(191) NOT NULL,
  `identificacion` varchar(191) NOT NULL,
  `email` varchar(191) DEFAULT NULL,
  `fechaRegistro` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `telefono_secundario` varchar(191) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Cliente_identificacion_key` (`identificacion`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cliente`
--

LOCK TABLES `cliente` WRITE;
/*!40000 ALTER TABLE `cliente` DISABLE KEYS */;
INSERT INTO `cliente` VALUES (1,'NATURAL','Ninibeth','Orejarena','04147172055','Av. Ferrero Tamayo','V-21000462',NULL,'2025-07-24 02:54:24.254',NULL),(2,'NATURAL','Angel','Cegarra','04149797876','Av. Ferrero Tamayo','V-26686507',NULL,'2025-07-24 03:49:11.734',NULL),(3,'NATURAL','Dereck','Cegarra','0412457895','Av. Las pilas res san cristobal','V-111111111',NULL,'2025-07-31 00:49:32.581',NULL);
/*!40000 ALTER TABLE `cliente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `configuracion`
--

DROP TABLE IF EXISTS `configuracion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `configuracion` (
  `id` int(11) NOT NULL DEFAULT 1,
  `nombreNegocio` varchar(191) DEFAULT NULL,
  `monedaPrincipal` varchar(191) NOT NULL DEFAULT 'USD',
  `tasaVES` double DEFAULT NULL,
  `tasaCOP` double DEFAULT NULL,
  `tasaUSD` double,
  `direccion` varchar(191) DEFAULT NULL,
  `mensajePieRecibo` varchar(191) DEFAULT NULL,
  `rif` varchar(191) DEFAULT NULL,
  `telefonoPrincipal` varchar(191) DEFAULT NULL,
  `telefonoSecundario` varchar(191) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `configuracion`
--

LOCK TABLES `configuracion` WRITE;
/*!40000 ALTER TABLE `configuracion` DISABLE KEYS */;
INSERT INTO `configuracion` VALUES (1,'LAVANDERIA AUTOMATICA GISSELLE','USD',123.87,4000,1,'Av. Ferrero Tamayo, Res. Yoli.   Local 02','*Recuerda que debes presentar este ticket para retirar tu ropa*','V-14872478-0','0424-7368942','0276-3415016');
/*!40000 ALTER TABLE `configuracion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detalleorden`
--

DROP TABLE IF EXISTS `detalleorden`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detalleorden` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ordenId` int(11) NOT NULL,
  `servicioId` int(11) NOT NULL,
  `cantidad` double NOT NULL,
  `precioUnit` double NOT NULL,
  `subtotal` double NOT NULL,
  PRIMARY KEY (`id`),
  KEY `DetalleOrden_ordenId_fkey` (`ordenId`),
  KEY `DetalleOrden_servicioId_fkey` (`servicioId`),
  CONSTRAINT `DetalleOrden_ordenId_fkey` FOREIGN KEY (`ordenId`) REFERENCES `orden` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `DetalleOrden_servicioId_fkey` FOREIGN KEY (`servicioId`) REFERENCES `servicio` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detalleorden`
--

LOCK TABLES `detalleorden` WRITE;
/*!40000 ALTER TABLE `detalleorden` DISABLE KEYS */;
INSERT INTO `detalleorden` VALUES (1,1,1,8.5,3,25.5),(2,2,1,17.6,3,52.8),(3,3,1,47.8,3,143.4),(4,4,1,64.9,3,194.7),(5,5,1,45,3,135),(6,6,1,16,3,48),(7,7,1,15,3,45),(8,8,1,1.72,3,5.16),(9,9,1,4.9,3,14.7),(10,10,1,35,3,105),(11,11,1,56,3,168),(12,12,1,687.8,3,2063.4),(13,13,1,67,3,201),(14,14,1,566.8,3,1700.4),(15,15,1,3.6,3,10.8),(16,15,2,5,5,25),(17,16,1,4.8,3,14.4),(18,17,1,3.6,3,10.8),(19,17,2,4,5,20);
/*!40000 ALTER TABLE `detalleorden` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `orden`
--

DROP TABLE IF EXISTS `orden`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `orden` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `clienteId` int(11) NOT NULL,
  `fechaIngreso` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `fechaEntrega` datetime(3) DEFAULT NULL,
  `estado` enum('PENDIENTE','ENTREGADO') NOT NULL DEFAULT 'PENDIENTE',
  `total` double NOT NULL,
  `observaciones` varchar(191) DEFAULT NULL,
  `abonado` double NOT NULL DEFAULT 0,
  `estadoPago` enum('COMPLETO','INCOMPLETO') NOT NULL DEFAULT 'INCOMPLETO',
  `faltante` double NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `Orden_clienteId_fkey` (`clienteId`),
  CONSTRAINT `Orden_clienteId_fkey` FOREIGN KEY (`clienteId`) REFERENCES `cliente` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orden`
--

LOCK TABLES `orden` WRITE;
/*!40000 ALTER TABLE `orden` DISABLE KEYS */;
/*!40000 ALTER TABLE `orden` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pago`
--

DROP TABLE IF EXISTS `pago`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pago` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ordenId` int(11) NOT NULL,
  `monto` double NOT NULL,
  `fechaPago` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `metodoPago` enum('EFECTIVO','TRANSFERENCIA','PAGO_MOVIL') NOT NULL,
  `nota` varchar(191) DEFAULT NULL,
  `moneda` varchar(191) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `Pago_ordenId_fkey` (`ordenId`),
  CONSTRAINT `Pago_ordenId_fkey` FOREIGN KEY (`ordenId`) REFERENCES `orden` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pago`
--

LOCK TABLES `pago` WRITE;
/*!40000 ALTER TABLE `pago` DISABLE KEYS */;
/*!40000 ALTER TABLE `pago` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `servicio`
--

DROP TABLE IF EXISTS `servicio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `servicio` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombreServicio` varchar(191) NOT NULL,
  `precioBase` double NOT NULL,
  `descripcion` varchar(191) DEFAULT NULL,
  `permiteDecimales` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `servicio`
--

LOCK TABLES `servicio` WRITE;
/*!40000 ALTER TABLE `servicio` DISABLE KEYS */;
INSERT INTO `servicio` VALUES (1,'Lavado por kilos',3,'Lavado de ropa por kilos',1),(2,'Lavado de Jeans',5,'Lavado de pantalones de Jean',0);
/*!40000 ALTER TABLE `servicio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `email` varchar(191) NOT NULL,
  `password` varchar(191) NOT NULL,
  `name` varchar(191) DEFAULT NULL,
  `role` enum('ADMIN','EMPLOYEE') NOT NULL DEFAULT 'EMPLOYEE',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `User_email_key` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
INSERT INTO `user` VALUES (1,'angel@gmail.com','$2b$10$UEYhLO3fCfZIvdrSUQ1eXO6zy2N8/VZW4ZDc/jXkzOrDGFJE.eRS.','Angel','ADMIN','2025-07-24 02:50:48.620','2025-07-24 02:50:48.620'),(2,'nini@gmail.com','$2b$10$DvvMuNegaIaTWFLFpgE9Je/ayGyzCT8CvoCGo5Pion.ptk6DDJECC','nini','EMPLOYEE','2025-07-24 02:51:51.793','2025-07-24 02:51:51.793');
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vueltoentregado`
--

DROP TABLE IF EXISTS `vueltoentregado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vueltoentregado` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pagoId` int(11) NOT NULL,
  `monto` double NOT NULL,
  `moneda` varchar(191) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `VueltoEntregado_pagoId_idx` (`pagoId`),
  CONSTRAINT `VueltoEntregado_pagoId_fkey` FOREIGN KEY (`pagoId`) REFERENCES `pago` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vueltoentregado`
--

LOCK TABLES `vueltoentregado` WRITE;
/*!40000 ALTER TABLE `vueltoentregado` DISABLE KEYS */;
/*!40000 ALTER TABLE `vueltoentregado` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-08-09 19:35:36
